<h1 class="text-center mt-3  ">Thêm danh mục</h1>
<form class="mt-5 ">
    <div class="row mb-3">
        <label for="inputEmail3" class="col-2 col-form-label">Tên danh mục:</label>
        <div class="col-8">
            <input type="text" class="form-control" id="inputEmail3" ng-model="data.nameDM">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2"></div>
        <div class="col-8">
            <button class="btn btn-primary" ng-click="update()">Sửa</button>
            <button class="btn btn-warning "><a class="text-decoration-none text-light " href="#!/list-cate">Danh
                    sách</a></button>
        </div>
    </div>
</form>