<footer class="footer  bottom-0  bg-black   text-white p-3  mt-5  ">
    <div class="container">
        <div class="row">
            <div class="col-8 "></div>
            <div class="col-4  text-center m-auto ">
                <span class="d-inline-block " tabindex="0" data-bs-toggle="tooltip" data-bs-title="Facebook">
                    <i class="fa-brands fa-facebook" style="margin-left: 10px; height: 30px;"></i>
                </span>
                <span class="d-inline-block " tabindex="0" data-bs-toggle="tooltip" data-bs-title="Youtobe"
                    style="margin-left: 10px;">
                    <i class="fa-brands fa-youtube" style="margin-left: 10px; height: 30px;"></i>
                </span>
                <span class="d-inline-block " tabindex="0" data-bs-toggle="tooltip" data-bs-title="Twitter"
                    style="margin-left: 10px;">
                    <i class="fa-brands fa-twitter" style="margin-left: 10px; height: 30px;"></i>
                </span>
            </div>
        </div>
        <div class="row mt-3 ">
            <div class="col-3">
                <img src="../duan/banner/Untitled-233.png" alt="banner" width="200px">
            </div>
            <div class="col-3">
                <h5>HỆ THỐNG SHOWROM</h5>
                <p>SHOWROOM 1: 70 Tuệ Tĩnh, Hai Bà Trưng, Hà Nội
                    [ Sát ngã tư Bà Triệu - Tuệ Tĩnh ]
                    SHOWROOM 2: 33 CMT 8 , P. Bến Thành, Q.1, HCM
                    GIỜ HOẠT ĐỘNG: 9h – 21h30 ( cả T7, CN )</p>
            </div>
            <div class="col-3">
                <h5>HỖ TRỢ KHÁCH HÀNG</h5>
                <p>Cách thức mua hàng</p>
                <p> Chính sách bảo mật</p>
                <p>Chính sách bảo hành và đổi hàng</p>
            </div>
            <div class="col-3">
                <h5> VỀ CHÚNG TÔI</h5>
                <p>Giới Thiệu</p>
                <p> Hệ Thống Showrom</p>
                <p> Liên Hệ</p>
            </div>
        </div>
    </div>
</footer>