<h1>Quản lý đơn hàng</h1>
<table class="table border mt-3 " style="height: 70vh; ">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tài khoản-ID</th>
      <th>Trạng thái</th>
      <th>Ngày đặt</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(index, value) in listDH">
        <th scope="row">{{index +1}}</th>
        <td>{{value.userInfo.username}}-{{value.userInfo.id}}</td>
        <td>{{value.trangThai}}</td>
        <td>{{ value.ngayDatHang | date:'dd/MM/yyyy HH:mm' }}</td>
        <th>
          <a href="#!/chitiet-cart/{{ value.id }}"><button class="btn btn-warning ">Xem chi tiết</button></a>
          <a href="#!/update-cart/{{ value.id }}"><button class="btn btn-danger  ">Sửa</button></a>
        </th>
    </tr>
  </tbody>
</table>
